@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color:#F2F2F2;
}

body {
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  min-height: 100%;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto;
}

/*Общие стили*/

.button {
  font-family: "PT Sans",sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Общие стили- HEADER */
.header-title{
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  width: 1060px;
  margin: 0 auto;
  }
.logo {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.logotipe {
  display: block;
}
.navigation {
  display: flex;
  width: 890px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 17px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.navigation-button {
  background: #756157;
  min-width: 130px;
  min-height: 20px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  margin: 14px;
  color: #FFFFFF;
}
.navigation-user{
  display: flex;
  flex-wrap: wrap;
  width: 265px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  .navigation-list.navigation-user {
    min-width: 42px;
    min-height: 66px;
  }


/*Index*/
/*MAIN*/
.main-index {
  margin-top: -5px;
}
.main-picture {
  background-image: url("../images/html/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #9a8f6c;
  height: 485px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 63px;
  }

.main-picture-welcome {
  margin: 51px auto 83px 372px;
  }

.title-second-level {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
padding:0;
margin: 0;
margin-bottom: 31px;
min-width: 700px;
text-align: center;
}

/* Причины выбора */
.advantages {
  width: 1200px;
  margin-bottom: 91px;
  padding: 0;
  justify-content: center;
}
.reasons {
  font-size: 22px;
  line-height: 26px;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
  min-width: 660px;
  text-align: center;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  padding: 0;
  margin: 0;
}
.advantages-reason.involve-first {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.reason {
  display: grid;
  width: 230px;
  min-height: 344px;
  padding: 20px 85px;
  align-content: center;
  justify-items: center;
}
.advantages-reason.involve-second {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.advantages-reason-photo {
  grid-column-start: 2;
  grid-column-end: 4;
}
.advantages-reason-photo-second {
  grid-column-start: 1;
  grid-column-end: 3;
}
.white-reason {
  background: #82B3D3;
  color:#FFFFFF;
}
.side-reason {
  background: rgba(131, 179, 211, 0.12);
}
.midle-reason {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-items {
  list-style-type: none;
  padding: 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-start: 1;
  grid-column-end: -1;
}
.advantages-item {
  display: grid;
  width: 230px;
  min-height: 344px;
  padding: 20px 85px;
  align-content: center;
  justify-items: center;
  background: rgba(131, 179, 211, 0.12);
}
.midle-item {
  background: #FFFFFF;
}
.title-fourth-level {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  width: 180px;
}
.reason-numb {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}
.reason-description {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-description {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333333;
}
/* Поиск гостиницы */

.index-columns {
  text-align: center;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  }
.title-third-level {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  min-width: 700px;
  text-align: center;
}
.found-description {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  }
.found-form {
  background: #756157;
  min-width: 574px;
  min-height: 60px;
  margin-bottom: 93px;
  }

/* Подпишись на рассылку */

.newsletter-list {
  margin: 0;
  padding: 94px 0px 94px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  background-color: #9a8f6c;
  color: #FFFFFF;
  background-image: url("../images/html/html-background.jpg");
  background-size: cover;
}
.news-description {
  color: #FFFFFF;
  margin-bottom: 46px;
}
.newsletter-form {
  margin: 0;
  padding: 0;
  display: flex;
}
.field {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding: 0;
  padding-left: 22px;
}
::placeholder {
font-size: 18px;
line-height: 21px;
align-items: flex-start;
opacity: 0.6;
}
.newsletter{
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  width: 200px;
  height: 60px;
  padding: 20px;
}


/* FOOTER */
/* Контакты */

.page-footer {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  padding: 45px 0px 35px;
  justify-content: space-between;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
 }
 .social-button.button {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
 .contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
.label-academy {
  width: 330px;
  text-align: right;
}


/*CATALOG*/
/* MAIN*/
/*Гостиницы Седоны*/

.inner-header {
  background-image: url("../images/catalog/catalog-backgraund.png");
  background-size: cover;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-color: #9a8f6c;
  margin: 0;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 30px;
  list-style-type: none;
  min-width: 111px;
}
.breadcrumbs-item {
  margin-right: 10px;
}
.breadcrumbs-item:last-child {
  margin: 0;
}
.criteries-filter {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  justify-content: space-between;

}
.criteries-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.criteries-filter-group {
  min-width: 150px;
  border: none;
  margin: 0;
  padding: 0;
}
.criteries-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.criteries-filter-item {
  margin-bottom: 15px;
}
.criteries-filter-item:last-child {
  margin-bottom: 0;
}
.criteries-filter-buttons {
  width: 160px;
 }
.criteries-button {
  background: #82B3D3;
  border: none;
  font-size: 16px;
  line-height: 20px;
  width: 130px;
  padding: 14px 15px;
  margin: 0;
}
.criteries-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: unset;
  background-color: transparent;
  border: none;
  text-align: center;
  width: 130px;
  padding: 20px;
  margin-bottom: 0;
}

/*Результаты поиска:Сортировка*/
.main-inner {
  margin-top: -15px;
}
.rezult{
  width: 1060px;
  padding: 50px 70px 0px 70px;
}
.select-block {
  display: flex;
  height: 49px;
  padding: 0px;
  margin-bottom: 56px;
  justify-content: space-between;
}
.catalog-title {
  text-align: left;
  margin: 0;
  margin-right: 191px;
  padding: 0px;
  min-width: 338px;
}
.select-control {
  width: 290px;
  margin: 0px;
  padding: 0px;
  }
.select-control-choice {
  width: 160px;
  text-align: center;
  display: inherit;
  justify-content: space-between;
  padding: 0px;
  }
  .button-select {
    padding: 16px 17px;
    margin-right: 8px;
  }
  .button-select:last-child {
    margin-right: 0px;
  }


/*Найденные места*/
.place-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  margin-bottom: 96px;
  padding: 0;
  gap: 0 20px;
}
.place-card {
  width: 300px;
  min-height: 398px;
  padding: 20px;
  margin: 0;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}
.place-card-image {
  display: block;
  grid-column-start: 1;
  grid-column-end: -1;
}
.place-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: -1;
}
.place-criteries {
  color: #333333;
  padding: 0;
  margin-bottom: 16px;
  width: 140px;
  margin: 0;
}
.more-info {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  border: none;
  min-width: 110px;
  padding: 9px 15px;
  margin-bottom: 16px;
  margin: 0;
}
.add-favorite {
  background: #82B3D3;
  border: none;
  font-size: 16px;
  line-height: 20px;
  min-width: 110px;
  padding: 9px 15px;
  margin-bottom: 16px;
  margin: 0;
}
.added-favorite {
  background: #7DB54F;
  border: none;
  font-size: 16px;
  line-height: 20px;
  min-width: 110px;
  padding: 9px 15px;
  margin-bottom: 0;
}
.hotel-rating {
  background: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  min-width: 110px;
  min-height: 20px;
  padding: 9px 15px;
  margin: 0;
}
.rating-star {
  display: flex;
  flex-direction: row;
  margin: 0;
}

/*Пагинация*/
.select-block-button {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
.pagination {
font-weight: 700;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
padding: 0;
margin: 0;
width: 600px;
}
.pagination-item {
background: #82B3D3;
width: 60px;
min-height: 60px;
list-style-type: none;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 8px;
}
.pagination-item:last-child {
  margin-right: 0px;
  }
.pagination-link {
text-decoration: none;
color: #FFFFFF;
padding: 10px;
}
.current-item {
background: #F2F2F2;
}
.current-link {
  color: #000000;
}
.searching-results-page {
  margin: 0;
}
.page-select {
  width: 160px;
  height: 49px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/*Подпишись на рассылку*/
.newsletter-list.catalog-news {
  background-image: none;
  color: #000000;
  background-color:#FFFFFF;
}
