@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color:#F2F2F2;
}

body {
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  min-height: 100%;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto;
}


.button {
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* HEADER */
.header-title{
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  }

.logo {
  display:block;
  margin-left: 70px;
  flex-grow: 0;
}

.navigation-block {
  display: flex;
  color: #000000;
  flex-grow: 1;
  list-style-type:none;
  align-items: center;
}
.navigation {
  display: flex;
  list-style-type:none;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}
.list{
  flex-grow: 0;
  min-width: 390px;
  padding: 20px 62px 20px 17px;
  margin-left: 30px;
}
.user{
  flex-grow: 1;
  margin-right: 70px;
  padding:14px 0px 14px 12px;
  }


/*MAIN*/
.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-picture {
  background-image: url("../images/html/welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #9a8f6c;
  height: 485px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.main-picture-welcome {
  margin: 51px 372px 83px 372px;
  }

.info {
  margin: 0;
  min-height: 282px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  }

.title-second-level {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
word-wrap: break-word;
padding:0;
margin: 0;
min-width: 700px;
text-align: center;
}
.reasons {
  font-size: 22px;
  line-height: 26px;
  word-wrap: break-word;
  padding: 0px;
  margin-top: 31px;
  min-width: 660px;
  text-align: center;
}

/* Причины выбора */
.advantages {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type:none;
  margin: 0;
  padding: 0px;
}
.advantages-reason.involve {
  display: flex;
  flex-wrap: wrap;
}
.advantages-reason.white-reason {
  display: flex;
  width: 400px;
  min-height: 384px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.white-reason {
  background: #82B3D3;
  color:#FFFFFF;
  }
.advantages-items {
  list-style-type:none;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.side-item {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
}
.midle-item {
  width: 400px;
  min-height: 384px;
  background: #FFFFFF;
}
.side-reason {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.12);
}
.midle-reason {
  width: 400px;
  min-height: 384px;
  background: rgba(131, 179, 211, 0.2);
}
.title-fourth-level {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
photo1-home-sedona {
  display: flex;
  max-width: 800px;
  text-align: right;
}

/* Поиск гостиницы */

.index-columns {
  text-align: center;
  min-height: 417px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  }

.found-description {
  font-size: 22px;
  line-height: 26px;
}
.found-form {
  background: #756157;
  min-width: 574px;
  min-height: 60px;
  border-radius: 4px;
  }

/* Подпишись на рассылку */
.index-columns-second {
  text-align: center;
  background-color: #9a8f6c;
  color: #FFFFFF;
  background-image: url("../images/html/html-background.jpg");
  background-repeat: no-repeat;
}
.newsletter-list {
  text-align: center;
  min-height: 417px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
flex-direction: column;
}
.newsletter-discription {
  font-size: 22px;
  line-height: 26px;
}
.newsletter-form {
  display: flex;
}

.field {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border: none;

}

::placeholder {
font-size: 18px;
line-height: 21px;
align-items: flex-start;
opacity: 0.6;
}

.newsletter{
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  min-height: 60px;
}


/* FOOTER */

/* Контакты */

.page-footer {
  width: 1200px;
  min-height: 120px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.footer-social-list {
  width: 142px;
  margin-right: 42px;
  list-style-type:none;
}

.label-academy {
  margin-left: auto;
  max-width: 115px;
}


.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

/*CATALOG*/

/* MAIN*/

/*Гостиницы Седоны*/

.inner-header {
  background-image: url("../images/catalog/catalog-backgraund.png");
  background-size: cover;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-color: #9a8f6c;
  width: 1200px;
  min-height: 403px;
}

.inner-header-title {
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: #FFFFFF;
}


.breadcrumbs {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: inherit;
}

.criteries-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.criteries-apply {
  background: #82B3D3;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  min-height: 48px;
}

.criteries-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: unset;
  background-color: transparent;
  border: none;
}

/*Результаты поиска:Сортировка*/
.select-control {
  color: #333333;
}

/*Результаты поиска:Найденный список*/
.place-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.place-tipe-card {
  color: #333333;
}

.more-info {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
  border: none;
  border-radius: 4px;
  border: none;
  width: 140px;
  height: 37px;
}

.add-favorite {
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border: none;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
}

.added-favorite {
  font-size: 16px;
  line-height: 20px;
  background: #7DB54F;
  border: none;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
}

.hotel-rating {
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
  left: 160px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/*Страницы поиска-пагинация*/
.pagination {
font-weight: 700;
font-size: 20px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
}

.pagination-link {
background: #82B3D3;
width: 60px;
min-height: 60px;
}

.pagination-current {
background: #F2F2F2;
border: none;
}
